// imports
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Montserrat:300,400,600&display=swap');

// Color Schemes
$pink: #f4416a;
$dark-grey: #262626;
$dark: #121212f1;
$light: #fefefe;

// Navigation Colors
$navbar-links: $light;

// Typography
$heading-font: 'Dancing Script', cursive;
$body-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
